[submodule "external/json"]
	path = external/json
	url = https://github.com/hubartstephane/json.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/hubartstephane/glfw.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/hubartstephane/assimp.git
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/hubartstephane/boost.git
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/hubartstephane/tinyxml2.git
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/hubartstephane/glew.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/hubartstephane/glm.git
